.App {
  display: grid;
  grid-template-areas:
    "hd hd"
    "sd mn"
    "sd ft";
  grid-template-columns: 200px 1fr;
}

.App-sidebar {
  grid-area: sd;

  background: lightblue;
}

.App-main {
  grid-area: mn;
}

.App-footer {
  grid-area: ft;

  background: black;
  color: white;
}
